body {
  font-family: 'Nunito', sans-serif;
}

.hero-image{
  position: relative;
  background-image: url("Hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
 
}
.hero-image .container{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
}
.hero-image .container h1{
  font-size: 2em;
  letter-spacing: 0.2em;
}
@media (min-widht:970px){
  .hero-image .container h1{
    font-size: 3.5em;
    letter-spacing: 0.2em;
  }
}
.over{
  border: 5px solid white;
  padding: 18px;
  display: inline-block;
  background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
}
.over img{
  width: 100%;
}
.over-grid{
  display: grid;
    align-content: center;
}
.des{
  margin: 20px;
  display: block;
  font-size: 15px;
  text-shadow: 0 0 10px black;
}
.hero-button{
  margin-top: 50px;
  text-decoration: none;
  -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 15px;
   font-weight: 300;
   padding: 15px;
   background-color: #ABABAB;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 0 1px 20px #000000;
   border: solid #000204 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;

}

.hero-button:hover {
  color: white;
  background: #646464;
  border: solid #000000 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
}

.nav-vini{
  background: black;
  height: 40px;
}


/* filter: blur(8px);

background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative; */



img{
  max-width: 100%;
}






.gradient-footer {
  background-image: url("footer.png");


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.blur {
  backdrop-filter: blur(2px);
}

signup-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%), url("../assets/img/bg-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.signup-section .form-inline input {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding-top: 5rem;
}
.contact-section .card, .feature-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}
.contact-section .card h4, .feature-section .card h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr, .feature-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}
.contact-section .social {
  margin-top: 5rem;
}
.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}
.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.contact-section .social a:active {
  color: #fff;
}

.footer {
  padding: 5rem 0;
}

.navbar {
position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
